langchain
langchain_classic
langchain_community
langgraph
langchain-groq
python-dotenv
langchain-google-genai
ipykernel
langchain-tavily
langchain-core
pypdf
pymupdf
sentence-transformers
chromadb
streamlit